%h1 Like Users' Photos
%p Choose up to 10 Instagrammers you would like to target. InstaNinja will like their latest photo once a day.
%em By liking a specific users' photos, you're more likely to get a follow in return.

%ul
  - @user_likes.each do |user|
    %li
      = image_tag user.profile_picture
      = user.username
      = button_to 'x', user_like_path(user), :method => :delete

- if @user_likes.count < 10
  = form_for @user_like do |form|
    = form.text_field :username
    = form.submit 'Add'
