%h1 Users

%ul
  - @user_likes.each do |user|
    %li
      = image_tag user.profile_picture
      = user.username
      = button_to 'x', user_like_path(user), :method => :delete

- if @user_likes.count < 10
  = form_for @user_like do |form|
    = form.text_field :username
    = form.submit 'Add'
