%h1 Hashtag

%ul
  - @hashtags.each do |hashtag|
    %li
      = hashtag.name
      = link_to 'x', destroy_hashtag_path(hashtag), method: :delete

- if @hashtags.count < 3
  = form_for @hashtag do |form|
    = form.text_field :name
    = form.submit 'Add'

- if current_user.hashtags.any? && !current_user.likes_per_hashtag.nil?
  = button_to 'Like photos on Instagram', likes_path
