#hashtags
  %header.pages
    .media
      = link_to (image_tag 'like.png', height: 40), '#', class: 'pull-left'
      .media-body
        %h2 Like Tagged Photos
    %p
      %strong Pick up to 5 hashtags.
      InstaNinja will like the latest photo from each hashtag every hour.

  %section.page-content
    %ul
      - @hashtags.each do |hashtag|
        %li
          = button_to destroy_hashtag_path(hashtag), :method => :delete, class: 'btn btn-danger btn-sm pull-right' do
            %span.glyphicon.glyphicon-remove
          = '#' + hashtag.name

    .add
      - if @hashtags.count < 5
        = form_for @hashtag, class: 'form-inline' do |form|
          .form-group
            = form.label :name, class: 'sr-only'
            = form.text_field :name, class: 'form-control', placeholder: 'Add one hashtag at a time without the hashtag e.g. selfie'
          = form.submit 'Add', class: 'btn btn-primary'
        %p
          %em Tip: The more likes you give the more likes and followers you are likely to receive in return.
    - if current_user.inactive?
      = render 'application/inactive_message'
