%h1 Like Tagged Photos
%p Pick up to 5 hashtags. InstaNinja will like the latest photo from each hashtag every hour.
%em The more likes you give the more likes and followers you are likely to receive in return.

%ul
  - @hashtags.each do |hashtag|
    %li
      = hashtag.name
      = button_to 'x', destroy_hashtag_path(hashtag), :method => :delete

- if @hashtags.count < 5
  = form_for @hashtag do |form|
    = form.text_field :name
    = form.submit 'Add'
