#homepage
  %header
    %h1
      Boost your Instagram presence
    %h3 Like photos. Target users. Get follows.
    .ninja-instagram
      - if current_user
        = image_tag 'ninja-fight.png'
      - else
        = link_to authenticate_instagram_path, class: 'insta-signup' do
          = fa_icon 'instagram 2x'
          Sign up with Instagram
  %section
    .media
      = link_to (image_tag 'like.png', height: 100), '#', class: 'pull-left'
      .media-body
        %h4.media-heading Like photos with hashtags
        Want to get more likes? Increase the total number of likes for your Instagram account by liking other people's photos with selected hashtags.
    .media
      = link_to (image_tag 'person.png', height: 100), '#', class: 'pull-left'
      .media-body
        %h4.media-heading Target a user by liking their photos
        Want a particular Instagrammer to follow you? Ensure you like their latest photos every day to make them notice you and eventually follow you!
    .media
      = link_to (image_tag 'comment.png', height: 100), '#', class: 'pull-left'
      .media-body
        %h4.media-heading Follow a person's commenters
        Need to target a niche audience? Create a list of popular Instagrammer's and follow their commenters so they follow you back!


    - if !current_user
      .last-signup
        = link_to authenticate_instagram_path, class: 'insta-signup' do
          = fa_icon 'instagram 2x'
          Get started now!
