%h1 Follow Commenters
%p Pick 5 popular Instagrammers. InstaNinja will follow the last commenter on their latest photo each day.
%em Following a commenter for a specific user is a great way to target Instagrammers in your niche.

%ul
  - @user_commenters.each do |user|
    %li
      = image_tag user.profile_picture
      = user.username
      = button_to 'x', user_commenter_path(user), :method => :delete

- if @user_commenters.count < 5
  = form_for @user_commenter do |form|
    = form.text_field :username
    = form.submit 'Add'
