!!!
%html
  %head
    %title Instaninja
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

  - if current_user
    = link_to 'Hashtags', hashtags_path
    = link_to 'Users', user_likes_path
    = "Hi " + current_user.full_name
    = link_to 'Sign out', sign_out_path
  - else
    = link_to 'Connect Instagram', authenticate_instagram_path

  = yield
